<p><strong>Bienvenue !</strong> Voici comment vous pouvez utiliser le corpus :</p>
<ul>
<li>Saisissez un mot ou un lemme (forme canonique) dans les zones de texte. Vous pouvez utiliser des astérisques comme caractères génériques (<em>*</em> signifiant un nombre quelconque de caractères quels qu'ils soient) ou même des <a href="https://www.regular-expressions.info/"> expressions régulières</a>.</li>
<li>Vous pouvez spécifier des tags (étiquettes), par exemple classe grammaticale, en les sélectionnant dans la liste. Pour ce faire, cliquez sur l'icône situé à la fin du champ <em>Grammaire</em>.
<li>En cliquant sur <em>{{ _('Search sentences') }}</em> les énoncés contenant les mots recherchés seront affichés dans un ordre aléatoire.</li>
<li>En cliquant sur <em>{{ _('Search words') }} </em>ou <em>{{ _('Search lemmata') }}</em> vous trouverez une liste de mots ou de lemmes correspondant à la requête.</li>
</ul>

<p>Il existe de nombreux autres paramètres ! Cliquez sur <i id="help_reference" class="bi bi-question-circle-fill info_icon" title="{{ _('Show help') }}"></i> en haut de la page pour en savoir plus.</p>