<p><strong>Mirë se vini!</strong> Kështu mund të bëni një kërkim të thjeshtë në Korpus:</p>
<ul>
<li>Vendosni një fjalë apo një lemma (forma bazë e fjalës) në kutinë më sipër. Lejohen simbolet e veçanta (<em>*</em>) dhe madje edhe <a href="https://www.regular-expressions.info/">fjalët kyçe</a>.</li>
<li>Ose zgjidhni tag-ët, p.sh. pjesën e ligjëratës, në kutinë <em>Gramatikë</em>.
<li>Shtypni <em>{{ _('Search sentences') }}</em> për të parë shembujt e përdorimit të njësisë së kërkuar, me renditje të rastësishme.</li>
<li>Ose shtypni <em>{{ _('Search words') }}</em> apo <em>{{ _('Search lemmata') }}</em> për të parë një tabelë me fjalët që i përgjigjen kërkimit tuaj.</li>
</ul>

<p>Ka plot opsione të tjera! Klikoni <i id="help_reference" class="bi bi-question-circle-fill info_icon" title="{{ _('Show help') }}"></i> në pjesën e sipërme të faqes për t'i njohur.</p>