<p><strong>Добро пожаловать!</strong> Вот как можно пользоваться корпусом:</p>
<ul>
<li>Введите словоформу или лемму (начальную форму) в текстовые поля. Можно использовать звёздочки (<em>*</em> в значении &laquo;любое количество любых символов&raquo;) или даже <a href="https://ru.wikipedia.org/wiki/%D0%A0%D0%B5%D0%B3%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D1%8B%D0%B5_%D0%B2%D1%8B%D1%80%D0%B0%D0%B6%D0%B5%D0%BD%D0%B8%D1%8F">регулярные выражения</a>.</li>
<li>Можно задать тэги (пометы), например, часть речи, выбрав их из списка. Для этого нажмите на табличку в конце поля <em>Грамматика</em>.
<li>Если нажать <em>{{ _('Search sentences') }}</em>, найдутся предложения, содержащие искомые слова. По умолчанию они перемешаны случайным образом.</li>
<li>А если нажать <em>{{ _('Search words') }}</em> или <em>{{ _('Search lemmata') }}</em>, найдётся список словоформ или лемм, которые подходят под запрос.</li>
</ul>

<p>Есть и множество других настроек! Нажмите <i id="help_reference" class="bi bi-question-circle-fill info_icon" title="{{ _('Show help') }}"></i> наверху, чтобы узнать больше.</p>