<p><strong>Բարի գալո՜ւստ։</strong> Որևէ բան գտնելու համար հետևեք ցուցմունքներին ստորև։</p>
<ul>
<li>Մուտքագրեք որևէ բառաձև կամ բառույթ (բառարանային ձև) վերին վանդակում։ Կարելի է օգտագործել հատուկ նշաններ (<em>*</em>) կամ նույնիսկ <a href="https://www.regular-expressions.info/">կանոնավոր արտահայտություններ</a>։</li>
<li>Կամ ընտրեցեք որևէ պիտակ, օրինակ, խոսքիմասային, <em>Քերականություն</em> վանդակում։
<li>Սեղմեցեք <em>{{ _('Search sentences') }}</em> գտնելու համար ձեր որոնածը պատահական կարգով։</li>
<li>Կամ սեղմեցեք <em>{{ _('Search words') }}</em> կամ <em>{{ _('Search lemmata') }}</em> ձեր հարցմանը համապատասխանող բառերով աղյուսակ ստանալու համար։ </li>
</ul>

<p>Գոյություն ունեն նաև շատ այլ տարբերակներ։ Սեղմեցեք <i id="help_reference" class="bi bi-question-circle-fill info_icon" title="{{ _('Show help') }}"></i> վերև ավելին իմանալու համար։</p>