<p><strong>Welcome!</strong> Here is how you can find something:</p>
<ul>
<li>Type a word or a lemma (dictionary form) in the text box above. Wildcards (<em>*</em>) and even <a href="https://www.regular-expressions.info/">regular expressions</a> are allowed.</li>
<li>Or choose some tags, such as part of speech, in the <em>Grammar</em> box.
<li>Hit <em>{{ _('Search sentences') }}</em> to find randomly sorted examples of what you are looking for.</li>
<li>Or hit <em>{{ _('Search words') }}</em> or <em>{{ _('Search lemmata') }}</em> to get a table with words that conform to your query.</li>
</ul>

<p>There are lots of other options! Click <i id="help_reference" class="bi bi-question-circle-fill info_icon" title="{{ _('Show help') }}"></i> at the top to find out.</p>