<div id="analysis"></div>
<div id="glossed_copy_successful" class="alert alert-success" role="alert">
<i class="bi-check-circle-fill"></i> {{ _('Glossed example copied to clipboard.') }}
</div>

{% include "modals/display_settings.html" %} <!-- results per page, sorting, transliteration, etc. -->

{% include "modals/query_history.html" %}

<div class="modal fade modal-dialog-scrollable" id="gram_selector" tabindex="-1" role="dialog" aria-labelledby="gram_sel_header" aria-hidden="true" data-field="gr1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="gram_sel_header">Grammar selection header</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ _('Close') }}"></button>
			</div>
			<div class="modal-body" id="gram_sel_body">
				<p>Grammar selection body</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-success" aria-label="OK" id="gramm_selector_ok">OK</button>
				<button type="button" class="btn btn-default btn-danger" aria-label="{{ _('Cancel') }}" id="gramm_selector_cancel" data-bs-dismiss="modal">{{ _('Cancel') }}</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade modal-dialog-scrollable" id="help_dialogue" tabindex="-1" role="dialog" aria-labelledby="help_dialogue_header" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="help_dialogue_header">{{ _('Help') }}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ _('Close') }}"></button>
			</div>
			<div class="modal-body" id="help_dialogue_body">
			<p>The help text should be loaded here.</p>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="dictionary_dialogue" tabindex="-1" role="dialog" aria-labelledby="dictionary_dialogue_header" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="dictionary_dialogue_header">{{ _('Dictionary_header') }}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ _('Close') }}"></button>
			</div>
			<div class="modal-body" id="dictionary_dialogue_body">
			<p>The dictionary text should be loaded here.</p>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="metadata_dialogue" tabindex="-1" role="dialog" aria-labelledby="metadata_dialogue_header" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="metadata_dialogue_header">{{ _('Metadata_header') }}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ _('Close') }}"></button>
			</div>
			<div class="modal-body" id="metadata_dialogue_body">
			<p>The metadata table should be loaded here.</p>
			</div>
		</div>
	</div>
</div>

{% if citation %}
<div class="modal fade" id="citation_dialogue" tabindex="-1" role="dialog" aria-labelledby="citation_dialogue_header" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="citation_dialogue_header">{{ _('How to cite') }}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ _('Close') }}"></button>
			</div>
			<div class="modal-body" id="citation_dialogue_body">
			<p>{{ citation | safe }}</p>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% if images %}
<div class="modal fade" id="full_image" tabindex="-1" role="dialog" aria-labelledby="full_image_header" aria-hidden="true" data-field="gr1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ _('Close') }}"></button>
			</div>
			<div class="modal-body" id="full_image_body">
			<img id="img_fullres" src="">
			</div>
		</div>
	</div>
</div>
{% endif %}