**.pyc
**.idea/**
txt2json/corpus/json/**
txt2json/corpus/txt/**
corpus/**
src_convertors/corpus/**
search/media/**
search/tmp/**
src_convertors/error.log
docs_doxygen/**
search/img/**
search/web_app/templates/dictionaries/**