**.pyc
**.idea/**
txt2json/corpus/json/**
txt2json/corpus/txt/**
corpus/**
src_convertors/corpus/**
search/media/**
search/tmp/**
search/img/**
search/corpus_html/**
src_convertors/error.log
docs_doxygen/**
search/web_app/templates/dictionaries/**
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
venv/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
.python-version
.env
venv/
ENV/
/corpus.json
docs/_build
**/messages.mo