**.pyc
**.idea/**
txt2json/corpus/json/**
txt2json/corpus/txt/**
corpus/**
src_convertors/corpus/**
search/media/**
search/tmp/**
search/img/**
search/corpus_html/**
src_convertors/error.log
src_convertors/error_*.log
docs_doxygen/**
search/web_app/templates/dictionaries/**
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
venv/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
.python-version
.env
venv/
ENV/
/corpus.json
docs/_build
**/messages.mo
**/messages.po
USER_CONFIG/
**/desktop.ini
*.zip
*.7z
*.rar
*.gz
*.docx
*.min.css.map
*.min.js.map
conf/categories_*.json
conf/corpus_*.json
messages.pot
query_log.txt
error_reports.txt
*.sqlite
*.sqlite-journal