{% if ana.lex|length > 0 %}
<span class="popup_lex">{{ ana.lex }}</span>
{% endif %}
{% if ana.pos|length > 0 %}
<span class="popup_pos">{{ ana.pos }}
{% elif ana.grdic|trim|length > 0 %}
<span class="popup_pos">
{% endif %}
{% if ana.grdic|trim|length > 0 %}
&nbsp;{{ ana.grdic | safe }}</span>
{% elif ana.pos|length > 0 %}
</span>
{% endif %} 
{% for item in ana.lex_fields %}
<br><span class="popup_field"><span class="popup_key">{{ item.key }}: </span><span class="popup_value">{{ item.value }}</span></span>
{% endfor %} 
{% for item in ana.other_fields %}
{% if item.key == "parts" %}
<br><span class="popup_gloss"><span class="popup_value">{{ item.value }}</span></span>
{% endif %}
{% endfor %}
{% for item in ana.other_fields %}
{% if item.key == "gloss" %}
<br><span class="popup_gloss"><span class="popup_key"></span><span class="popup_value">{{ item.value }}</span></span>
{% endif %}
{% endfor %}
{% if ana.gr|trim|length > 2 %}<br>{{ ana.gr | safe }}{% endif %}
{% for item in ana.other_fields %}
{% if item.key != "parts" and item.key != "gloss" %}<br><span class="popup_field"><span class="popup_key">{{ item.key }}: </span><span class="popup_value">{{ item.value }}</span></span>
{% endif %}
{% endfor %}