<ul class="nav nav-tabs">
	<li class="active"><a data-toggle="tab" href="#help_single_word_search">Как найти одно слово</a></li>
	<li><a data-toggle="tab" href="#help_multi_word_search" id="load_documents_link">Как найти несколько слов</a></li>
	<li><a data-toggle="tab" href="#help_subcorpus_selection" id="load_documents_link">Как задать подкорпус</a></li>
</ul>
<div class="tab-content">
	<div id="help_single_word_search" class="tab-pane fade in active">
		<h4>Простой поиск</h4>
		<p>Корпус &mdash; это набор текстов со специальной разметкой, с помощью которого можно выяснить, в каких контекстах, в каких типах текстов и насколько часто употребляется то или иное слово или конструкция. Для этого нужно ввести поисковый запрос в поля, которые Вы видите в левой верхней части поисковой панели. В этой вкладке рассказывается о том, как делать простые запросы, т.е. запросы, позволяющие найти в корпусе одно конкретное слово или класс слов.</p>
	</div>
	<div id="help_multi_word_search" class="tab-pane fade">
		<h4>Как найти несколько слов внутри одного предложения</h4>
		<p>How to search for several words at once</p>
	</div>
	<div id="help_subcorpus_selection" class="tab-pane fade">
		<h4>Как выбрать подкорпус</h4>
		<p>Поиск можно ограничить, выбрав подкорпус, то есть подмножество текстов, в которых Вы хотите что-либо найти. Для этого нажмите на кнопку &laquo;Выбрать подкорпус&raquo;. В открывшемся окошке можно либо ограничить подкорпус, заполнив поисковые поля, либо выбрав (или убрав) конкретные тексты в списке (эти два способа можно комбинировать). Если Вы выбрали подкорпус, все Ваши запросы будут искаться только в текстах подкорпуса.</p>
	</div>
</div>