<ul class="nav nav-tabs">
	<li class="active"><a data-toggle="tab" href="#help_single_word_search">Single-word search</a></li>
	<li><a data-toggle="tab" href="#help_multi_word_search" id="load_documents_link">Multi-words search</a></li>
	<li><a data-toggle="tab" href="#help_subcorpus_selection" id="load_documents_link">Multi-words search</a></li>
</ul>
<div class="tab-content">
	<div id="help_single_word_search" class="tab-pane fade in active">
		<h4>Basic search</h4>
		<p>Basic search</p>
	</div>
	<div id="help_multi_word_search" class="tab-pane fade">
		<h4>How to search for several words at once</h4>
		<p>How to search for several words at once</p>
	</div>
	<div id="help_subcorpus_selection" class="tab-pane fade">
		<h4>How to select a subcorpus</h4>
		<p>How to select a subcorpus</p>
	</div>
</div>