<!DOCTYPE html>
<html>
<head>
<title>Corpus search page</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type='text/javascript' src='static/js/result_parser.js'></script>
<script type='text/javascript' src='static/js/json_loaders.js'></script>
</head>
<body>
<p id="header">Corpus name: {{ corpus_name }}.</p>
<form id="search_main">
Wordform: <input type="text" name="wf" id="wf"><br>
Lemma: <input type="text" name="l" id="l"><br>
Grammar: <input type="text" name="gr" id="gr"><br>
Sorting:<br>
<input type="radio" name="sort" value="random">random<br>
<input type="radio" name="sort" value="wf">by word<br>
<input type="radio" name="sort" value="lemma">by lemma<br>
Results per page: <input type="number" name="page_size" id="page_size" value="10"><br>
</form>
<button value="Search sentences" id="search_sent" style="width:200px;">Search sentences</button>
<button value="Search words" id="search_word" style="width:200px;">Search words</button><br>
<button value="Search sentences (q)" id="search_sent_query" style="width:200px;">Search sentences (show query)</button>
<button value="Search words (q)" id="search_word_query" style="width:200px;">Search words (show query)</button><br>
<button value="Search sentences (r)" id="search_sent_json" style="width:200px;">Search sentences (show JSON response)</button>
<button value="Search words (r)" id="search_word_json" style="width:200px;">Search words (show JSON response)</button>
<div id="res_p"><p style="font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;">(Place for results)</p></div>
</body>
</html>