<div id="gramm_gloss_query_viewer"> </div><br>

<div class="gloss_choice_panel">
{% for col in tag_table.columns %}
	<div class="gloss_column">
	{% for tag in col %}
	{% if tag.type == "gramm" or tag.type == "tag" %}
		<div class="switchable_gramm" data-cat="{{ tag.category|safe }}" data-grammtag="{{ tag.value|safe }}">{{ tag.value|safe }}
		{% if tag.tooltip %}
			<span class="tooltip_prompt alert alert-warning">{{ _('tooltip_' + tag.tooltip)|safe }}</span>
		{% endif %}
		</div>
	{% elif tag.type == "separator" %}
		<hr class="separator gloss_separator">
	{% elif tag.type == "header" %}
		<div class="gloss_header">{{ _('tooltip_' + tag.value)|safe }}</div>
	{% endif %}
	{% endfor %}
	</div>
{% endfor %}
</div>

<script type='text/javascript' src='static/js/select_gramm.js'></script>