<div class="modal fade" id="word_stats" tabindex="-1" role="dialog" aria-labelledby="word_stats_header" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="word_stats_header">{{ _('Word statistics header') }}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ _('Close') }}"></button>
			</div>
			<div class="modal-body" id="word_stats_body">
				<ul class="nav nav-tabs" id="word_stats_tabs" role="tablist">
					<li class="nav-item" role="presentation"><button class="nav-link active" data-bs-toggle="tab" data-bs-target="#word_stats_by_meta" id="load_word_meta_stats" type="button" role="tab" aria-controls="{{ _('By metadata values') }}" aria-selected="true">{{ _('By metadata values') }}</button></li>
					<li class="nav-item" role="presentation"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#word_stats_by_freq" id="load_word_freq_stats" type="button" role="tab" aria-controls="{{ _('By frequency') }}" aria-selected="true">{{ _('By frequency') }}</button></li>
				</ul>
				<div class="tab-content">
					<div id="word_stats_by_meta" class="tab-pane fade show active">
						<h4>{{ _('Word statistics for ') }} <span id="word_stats_wf"></span></h4>
						<label for="select_meta_word_stat">{{ _('Parameter: ') }}</label>
						<select name="select_meta_word_stat" id="select_meta_word_stat" class="search_input">
							{% for stat_option in subcorpus_selection.stat_options %}
								<option value="{{ stat_option }}">{{ _('metafield_' + stat_option) }}</option>
							{% endfor %}
						</select>&nbsp;
						<label for="select_meta_query_type">{{ _('Query type: ') }}</label>
						<select name="select_meta_query_type" id="select_meta_query_type" class="search_input">
							<option value="context">{{ _('search the whole query') }}</option>
							<option value="compare" selected>{{ _('compare words in the query') }}</option>
						</select>
						<div id="word_stats_max_bars" class="alert alert-warning" role="alert" style="display:none;">
							<span class="bi bi-exclamation-triangle-fill" aria-hidden="true"></span>&nbsp; {{ _('A maximum of 25 metadata values can be displayed, sorted by the number of words in the relevant texts.') }}
						</div>
						<div id="word_stats_plot"></div>
						<table id="word_stats_table" class="table table-hover">
							<thead>
								<tr id="word_stats_table_header_top">
									<th></th>
									<th colspan="2">{{ _('Query word ') }} 1</th>
								</tr>
								<tr id="word_stats_table_header_bottom">
								</tr>
								<tr id="header_template_start" class="hidden">
									<th>{{ _('value') }}</th>
								</tr>
								<tr id="header_template_end" class="hidden">
									<th>{{ _('frequency (ipm)') }}</th>
									<th>{{ _('90%% conf. int. ') }}</th>
								</tr>
							</thead>
							<tbody>

							</tbody>
						</table>
						<div id="word_stats_wait" class="alert alert-warning" role="alert">
							<span class="bi bi-exclamation-triangle-fill" aria-hidden="true"></span> {{ _('please wait for the plot to load') }}
						</div>
						<div id="word_stats_nothing_found" class="alert alert-danger" role="alert" style="display:none;">
							<span class="bi bi-exclamation-triangle" aria-hidden="true"></span> {{ _('Nothing found.') }}
						</div>
					</div>
					<div id="word_stats_by_freq" class="tab-pane fade">
						<h4>{{ _('Distribution by frequency rank') }}</h4>
						{{ _('Explanation for frequency distributions') }}
						<select name="select_freq_stat_type" id="select_freq_stat_type" class="search_input">
							<option value="word" selected>{{ _('words') }}</option>
							<option value="lemma">{{ _('lemmata') }}</option>
						</select>&nbsp;
						<label for="select_x_axis_scale">{{ _('Scale of the x axis: ') }}</label>
						<select name="select_x_axis_scale" id="select_x_axis_scale" class="search_input">
							<option value="linear" selected>{{ _('linear') }}</option>
							<option value="logarithmic">{{ _('logarithmic') }}</option>
						</select>
						<label for="select_max_y">{{ _('Max y: ') }}</label>
						<select name="select_max_y" id="select_max_y" class="search_input">
							<option value="as_in_data" selected>{{ _('as in data') }}</option>
							<option value="100">{{ _('100%%') }}</option>
							<option value="50">{{ _('50%%') }}</option>
							<option value="25">{{ _('25%%') }}</option>
							<option value="10">{{ _('10%%') }}</option>
							<option value="5">{{ _('5%%') }}</option>
							<option value="1">{{ _('1%%') }}</option>
							<option value="0.1">{{ _('0.1%%') }}</option>
						</select>
						<div id="word_freq_rank_stats_plot">{{ _('(please wait for the plot to load)') }}</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-success" aria-label="OK" data-bs-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>
<script type='text/javascript' src='static/js/word_stats.js'></script>