<div class="meta_column removable_column" data-ncol=%COL_NUMBER%>
	<div style="display: none" class="row_stub">
		{% include "admin/tag_select_row.html" %}
	</div>
	<h5>Column #%COL_NUMBER%</h5>
	<div class="row selection_table_header">
		<div class="col-md-3">Element type</div>
		<div class="col-md-3">Category (for tags)</div>
		<div class="col-md-3">Value (for tags) / Text</div>
		<div class="col-md-3">Tooltip text</div>
	</div>
	<div class="row button_row">
		<div class="col-md-9"></div>
		<div class="col-md-3">
			<button type="button" class="btn btn-danger btn-sm del_row">Remove row</button>
			<button type="button" class="btn btn-primary btn-sm add_row_below">Add row below</button>
			<button type="button" class="btn btn-primary btn-sm add_row_above">Add row above</button>
		</div>
	</div>
</div>