#generic_gloss_placeholders {

}

.gloss_choice_panel {
	margin: 5px 2%;
	width: 96%;
	font-size: 1em;
	overflow: auto;
	white-space: nowrap;
	min-height: 50vh;
}

.gloss_column {
	display: inline-table;
	max-width: 200px;
	min-width: 100px;
	margin: 1px;
	margin-right: 2px;
	border-radius: 3px;
	background-color: #effce1;
	padding: 6px;
	white-space: normal;
	position: relative;
}

.gloss_row {
	display: block;
	margin: 1px;
	border-radius: 3px;
	background-color: #effce1;
	padding: 6px;
	white-space: normal;
	position: relative;
}

.gloss_separator {
	width: 90%;
}

.gloss_header {
	background-color: #b8e884;
	margin: 3px 0 6px 0;
	padding: 4px 10px;
	border-radius: 3px;
	min-width: 130px;
	text-align: center;
	white-space: normal;
}

.switchable_gramm {
	margin: 0 0 3px 0;
	padding: 4px 8px;
	display: inline-block;
	cursor: pointer;
	border: 1px solid #eee;
	border-radius: 3px;
	background-color: #ddf2c7;
	min-width: 50px;
	text-align: center;
}

.switchable_gramm:hover {
	background-color: #b9d998;
}

.gramm_enabled {
	background-color: #fff9b2;
}

.switchable_gramm .tooltip_prompt {
	left: initial;
	margin-left: -25px;
	margin-top: 20px;
	max-width: 400px;
	visibility: hidden;
	z-index: 100;
	position: absolute;
}

.switchable_gramm:hover .tooltip_prompt {
    visibility: visible;
}

#gloss_sort_panel {
	margin: 10px 2%;
	width: 96%;
	float: left;
	background-color: #e8f1fc;
	border-radius: 5px;
	border: 2px solid #c4d7ef;
}

#gramm_gloss_query_viewer {
	margin: 5px 3%;
	width: 65%;
	float: left;
	background-color: #effce1;
	color: #254207;
	border-radius: 5px;
	border: 2px solid #ddf2c7;
	text-align: center;
	padding: 5px 15px;
	min-height: 3em;
}
