#generic_gloss_placeholders {

}

.gloss_choice_panel {
	margin: 5px 2%;
	width: 96%;
	font-size: 1em;
	overflow: auto;
	white-space: nowrap;
}

.gloss_column {
	display: inline-block;
	max-width: 150px;
	margin: 1px;
	margin-right: 2px;
	border-radius: 3px;
	background-color: #f6f7e1;
	display: inline-grid;
	padding: 4px;
}

.gloss_separator {
	width: 90%;
}

.gloss_header {
	background-color: #f7f0a0;
	margin: 0 3px 3px 3px;
	padding: 4px 10px;
	display:inline-block;
	float: left;
	border-radius: 3px;
	min-width: 50px;
	text-align: center;
}

.draggable {
	margin: 0 3px 3px 3px;
	padding: 4px 10px;
	display:inline-block;
	float: left;
	cursor: move;
	border: 1px solid #eee;
	border-radius: 3px;
	background-color: #fff9b2;
	transition: font-size 0.5s, height 0.5s, background-color 0.5s;
	min-width: 50px;
	text-align: center;
}

.draggable .tooltip_prompt {
	top: 15px;
	right: 20px;
	left: initial;
	margin-left: -30%;
	max-width: 250px;
}

.draggable:hover .tooltip_prompt {
    visibility: visible;
}

.switchable_gramm {
	margin: 0 3px 3px 3px;
	padding: 4px 8px;
	display:inline-block;
	float: left;
	cursor: pointer;
	border: 1px solid #eee;
	border-radius: 3px;
	background-color: #fffae2;
	min-width: 50px;
	text-align: center;
}

.gramm_enabled {
	background-color: #fff9b2;
}

.switchable_gramm .tooltip_prompt {
	top: 15px;
	right: 20px;
	left: initial;
	margin-left: -30%;
	max-width: 250px;
}

.switchable_gramm:hover .tooltip_prompt {
    visibility: visible;
}

#gloss_sort_panel {
	margin: 10px 2%;
	width: 96%;
	float: left;
	background-color: #e8f1fc;
	border-radius: 5px;
	border: 2px solid #c4d7ef;
}

#gramm_query_viewer {
	margin: 5px 3%;
	width: 65%;
	float: left;
	background-color: #e8f1fc;
	color: #19477f;
	border-radius: 5px;
	border: 2px solid #c4d7ef;
	text-align: center;
	padding: 5px 15px;
	min-height: 3em;
}

#sortable {
	list-style-type: none;
	margin: 5px auto;
	display: table;
	font-size: 1.2em;
	min-width: 55px;
}

#sortable div {
	margin: 0 3px 3px 3px;
	padding: 5px 10px;
	min-height: 30px;
	max-height: 40px;
	display:inline-block;
	float: left;
	border: 1px solid gray;
	background-color: #eee;
	border-radius: 3px;
	cursor: move;
}

