.wmatch {
	font-weight: bold;
	padding-left: 2px;
	padding-right: 2px;
	color: #901010;
}

.smatch {
	font-style: italic;
}

.expand {
	font-size: 22px;
	color: #20A030;
}

.ch_title {
	font-size: 18px;
	padding-right: 20px;
	font-weight: bold;
}

.ch_author {
	font-size: 18px;
	padding-right: 40px;
}

.page_link {
}

.cur_page {
	padding: 20px;
	font-size: 18px;
}

.pages {
	margin-top: 30px;
	margin-bottom: 20px;
}
