body {
	margin: 5px;
	margin-bottom: 10px;
	font-family: Lato, sans-serif;
}

.word:hover {
	border-bottom: 1px gray dotted;
}

.wmatch {
	font-weight: bold;
	padding-left: 2px;
	padding-right: 2px;
}

.wmatch_w1 {
	color: #932d01;
}
.wmatch_w2 {
	color: #380584;
}
.wmatch_w3 {
	color: #074d70;
}
.wmatch_w4 {
	color: #335b17;
}
.wmatch_w5 {
	color: #969218;
}
.wmatch_w6 {
	color: #8e0f79;
}
.wmatch_w7 {
	color: #bc2326;
}
.wmatch_w8 {
	color: #40b78f;
}

.circle_w1 {
	background: #932d01;
}
.circle_w2 {
	background: #380584;
}
.circle_w3 {
	background: #074d70;
}
.circle_w4 {
	background: #335b17;
}
.circle_w5 {
	background: #969218;
}
.circle_w6 {
	background: #8e0f79;
}
.circle_w7 {
	background: #bc2326;
}
.circle_w8 {
	background: #40b78f;
}

.circle {
    display: inline-block;
    width: 15px;
    height: 15px;
	margin-right: 8px;
    border-radius: 50%;
	border: 2px white solid;
	vertical-align: text-top;
}

.query_word_header {
	vertical-align: middle;
	text-align: left;
	margin-bottom: 7px;
	font-size: 16px;
}

.smatch {
	font-style: italic;
}

.glyph_expand {
	width: 25px;
	font-size: 26px;
	color: #48724d;
	cursor: pointer;
	top: 50% !important;
	height: 100%;
	margin-top: -10% !important;
	margin-left: 10px;
	text-align: center;
}

.glyph_expand:hover {
	color: #20A030;
}

.sentence {
	width: 95%;
}

.sent_lang:hover {
	border-left: 2px #bbd dotted;
	border-right: 2px #bbd dotted;
}

.sent_lang {
	border-left: 2px #fff solid;
	border-right: 2px #fff solid;
	margin-bottom: 5px;
	display: block;
}

.sent_results {
	max-height: 900px;
	overflow-y: scroll;
}

.p_highlighted {
	background-color: #f8ffc4;
}

.ch_container {
	margin-bottom: 5px;
	display: block;
}

.context_header {
	cursor: pointer;
	display: inline-block;
}

.context_header:hover {
	border-bottom: 1px #6a7d96 dotted;
}

.ch_title {
	font-size: 18px;
	padding-right: 20px;
	font-weight: bold;
	color: #3a537a;
}

.ch_author {
	font-size: 18px;
	padding-right: 40px;
	color: #0470a5;
}

.ch_date {
	padding-left: 10px;
}

.context {
	border-radius: 10px;
	border-top: 1px gray dotted;
	padding: 5px;
}

.page_link {
	cursor: pointer;
}

.cur_page {
	padding: 20px;
	font-size: 18px;
}

.pages {
	margin-top: 30px;
	margin-bottom: 20px;
}

.words_search {
	display: flex;
}

.word_search {
	float: left;
	display: inline-block;
	padding-left: 15px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 1px;
	margin-right: 4px;
	border-radius: 6px;
	border: 1px solid gray;
	resize: vertical;
}

.word_rel {
	margin-top: 12px;
}

.search_input {
	color: black;
	width: 160px;
	margin-bottom: 1px;
	margin-left: 1px;
	border-radius: 2px;
	border: solid 1px #707070;
	box-shadow: none;
	transition: box-shadow 0.3s, border 0.3s;
}

.distance_input {
	width: 45px;
	font-size: 18px;
}

.search_input:focus {
	border: solid 1px #894c1f;
	box-shadow: 0 0 5px 1px #f2c9ab;
}

.context_off {
	opacity: 0.5;
}

.cx_main {
	display: flex;
}

.cx_toggle_div {
	position: relative;
	width: 25px;
}

.cx_toggle_chk {
	display: inline;
	top: 50%;
	height: 100%;
	margin-top: -25% !important;
	text-align: center;
}

#res_p {
	font-size: 16px;
	font-family: "Segoe UI", "Lucida Grande", sans-serif;
	line-height: 22px;
	float: left;
}

.word_plus, .word_minus, .add_rel, .neg_query, .word_expand, .search_w {
	cursor: pointer;
}

.add_rel {
	margin-top: 5px;
	margin-left: 5px;
	font-size: 20px;
}

.word_plus {
	margin-top: 5px;
	margin-left: 5px;
	font-size: 20px;
}

.word_minus {
	margin-top: 5px;
	margin-left: 5px;
	font-size: 20px;
}

.word_expand {
	margin-top: 5px;
	margin-left: 5px;
	font-size: 20px;
}

.neg_query {
	margin-top: 5px;
	margin-left: 5px;
	font-size: 20px;
}

.word_plus:hover {
	color: #2664c9;
}

.word_minus:hover {
	color: #2664c9;
}

.word_expand:hover {
	color: #2664c9;
}

.add_rel:hover {
	color: #2664c9;
}

.neg_query:hover {
	color: #2664c9;
}

.tooltip_prompt {
    visibility: hidden;
    background-color: white;
    color: #333;
    text-align: center;
    padding: 5px 15px;
	margin-left: -35%;
	margin-top: 5px;
	top: 100%;
	left: 50%;
    border-radius: 6px;
	border: 1px solid gray;
    position: absolute;
    z-index: 1;
	opacity: 0.75;
	font-size: 16px;
	font-family: Helvetica, sans-serif;
}

/* Show the tooltip text when you mouse over the tooltip container */
.add_rel:hover .tooltip_prompt {
    visibility: visible;
}

.word_plus:hover .tooltip_prompt {
    visibility: visible;
}

.word_minus:hover .tooltip_prompt {
    visibility: visible;
}

.word_expand:hover .tooltip_prompt {
    visibility: visible;
}

.neg_query:hover .tooltip_prompt {
    visibility: visible;
}

.word_search_l {
	display: inline-block;
	height: 100%;
	vertical-align: top;
	text-align: right;
	padding-top: 10px;
	padding-bottom: 15px;
	padding-right: 15px;
}
.word_search_r {
	display: inline-block;
	width: 40px;
	padding: 5px;
	height: 100%;
	vertical-align: top;
	background-color: #e1e9ef;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.add_word_fields {
	visibility: hidden;
	transition: max-height 0.5s;
	height: 0px;
	max-height: 0px;
}

hr.separator {
	border-top: 1px dotted #7b7e7e;
	border-bottom: 1px dotted #fff;
	margin-top: 7px;
	margin-bottom: 7px;
}

.gram_selector_link {
	margin-left: -18px;
	width: 18px;
	padding-right: 4px;
	color: #333;
}

.gram_selector_input {
	padding-right: 20px;
}

.gram_selector_link:hover {
	color: #2664c9;
}

.hidden_input {
	visibility: hidden;
}

.popup_wf {
	font-weight: bold;
}

.popup_lex {
	font-weight: bold;
	color: #564b84;
}

.popup_pos {
	margin-left: 5px;
	color: #564b84;
	display: inline-block;
}

.popup_field {
	display: block;
}

.popup_value {
}

.popup_match {
	background: #fceee0;
	padding: 4px;
	margin: 2px 0px;
	border-radius: 5px;
}

#analysis {
    display: none;
    padding: 10px;
    line-height: 1.2;
    position: absolute;
    background: ghostwhite;
    color: #000000;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px silver;
    font-size: 90%;
	font-family: "Segoe UI", "Lucida Grande", sans-serif;
    z-index: 100;
	max-width: 500px;
}

tr:nth-child(odd) {
	background-color: #d9f0fc; 
}

tr:nth-child(even) {
	background-color: #fff;
}

th {
	padding: 3px 5px;
	color: #004b72;
	min-width: 35px;
	background-color: #eee;
	cursor: pointer;
}

td {
	padding: 3px 4px;
}

.timespan_highlighted {
	color: red;
	background-color: red !important;
}

.src_highlighted {
	font-weight: bold;
}

#media_div {
	width: 450px;
	padding: 10px;
	float: left;
	display: inline-block;
}

#lower_part {
	display: flex;
}