<!DOCTYPE html>
<html lang="{{ locale }}">
<!-- The landing page (or pages, if in several languages) is entirely corpus-specific. If you want to have a landing page served through Tsakorpus, rather than a static landing page (e.g., in /var/www/ with Apache), you have to create one here and put "landing_page": true in conf/corpus.json. -->
<!-- This page (index.html) is rendered if / or /index is requested in the default interface language. For all other languages, the template index_%LANGCODE%.html is rendered if it exists, index.html otherwise. -->
<head>
	<title>{{ _('corpus_title') }}</title>
	<link rel="apple-touch-icon" sizes="180x180" href="static/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="static/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="static/favicons/favicon-16x16.png">
	<link rel="manifest" href="static/favicons/site.webmanifest">
	<link rel="stylesheet" type="text/css" href="static/bootstrap-5.0.0-beta1-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/search.css">
	<link rel="stylesheet" type="text/css" href="static/css/span_styles.css">
	<link rel="stylesheet" type="text/css" href="static/css/gramm_gloss_selection.css">
	<link rel="stylesheet" type="text/css" href="static/datatables-2.2.1/datatables.min.css">
	<link rel="stylesheet" type="text/css" href="static/bootstrap-icons-1.13.1/bootstrap-icons.css">
	<script src="static/jquery-3.5.1-dist/jquery-3.5.1.min.js"></script>
	<script src="static/autocomplete_devbridge/jquery.autocomplete.min.js"></script>
	<script type='text/javascript' src='static/datatables-2.2.1/datatables.min.js'></script>
</head>

<body>
</body>
</html>